.euiFlexGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.euiFlexItem {
  /* height: 300px;  */
  width: 270px;
}
/* 
.body-data {
  padding: 0px 30px 30px 30px;
  margin-left: 10px;
  position: relative;
} */
