.details{

    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(grey, black);
    background-size: cover;
  }
  .box{
    width: 70%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h6{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 100;
    padding-bottom: inherit;
  }
  .box p{
    /* margin-left: 40%; */
      margin-top: 20px;
    text-align: justify;
    line-height: 20pt;
}
 
  
.box p span {
    font-weight: bold;
}